p {
  font-family: 'Barlow Condensed', sans-serif;
}

.header {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  width: 70%;

  background-color: rgb(30, 83, 63);
  ;
  color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.faixa {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(34, 34, 34);
  border: 10px solid rgb(34, 34, 34);
}

#conteudo-left {
  width: 500px;
  height: 400px;
  float: left;
  background-color: white;
}

#conteudo-right {
  width: 500px;
  height: 400px;
  float: left;
  background-color: white;
}
